@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    /* General Styling */
    box-sizing: border-box;
    margin: 0;

    /* Color vars */
    --base-bg: #f8f8f8;
}

section {
    font-family: 'Poppins', 'Montserrat';
    background-color: var(--base-bg);
    height: 100vh;
}

#center {
    width: min(900px, 93.5%);
    margin: 0 auto;
    padding-top: 3rem;
}

#user-controls {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.control {
    width: 40%;
}
.control > h2 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
.control > select, textarea {
    width: 100%;
    padding: 0.3rem;
    resize: none;
    font-family: 'Poppins';
}

#error {
    color: red;
    text-align: center;
    margin: 5vh auto;
    font-weight: bold;
    display: none;
}

#wrapper {
    display: flex;
    align-items: center;
}
canvas {
    height: 20vh;
    margin: 3vh auto;
    border-radius: 7px;
}